<form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
		<input type="submit" />
</form>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">Kuruma</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/contactus}">Contact Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/aboutus}">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/loan}">Loan Calculator</a>
            </li>
        </ul>
    </div>
    
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    	
        <ul class="navbar-nav ml-auto">
        <div th:switch="true" style="color:rgb(192, 192, 192);">
      		<th:case="${username != null}" th:text="${username}">
      		<th:case="${username == Guest}" th:text="${username}">
      	</div>
      <li class="nav-item dropdown">
      	
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Account</a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
          <div th:if="${username == Guest}">
          <a class="dropdown-item" th:href="@{/login}">Login</a>
          <a class="dropdown-item" th:href="@{/register}">Register</a>
          </div>
          <div th:if="${username != null}">
          <a class="dropdown-item" th:href="@{/user/}+${username}" th:text="Wishlist">Wish List</a>
          <a class="dropdown-item" th:href="@{/logout}">Logout</a>
          </div>
          <a class="dropdown-item" th:href="@{/change}">Change Password</a>
        </div>
      </li> 
        </ul>
    </div>
</nav>
