<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
	<link th:href="@{/css/style.css}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
	<script type="text/javascript" th:src="@{webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
	<div th:replace="fragment/general.html :: nav"></div>
	<div class="container-fluid text-center">
		<img src="../image/fox.png" class="img-fluid" />
		<h1><b>500</b></h1>
		<h3>Unexpected Error :(</h3>
		
	
	</div>
	<footer th:replace="fragment/footer.html :: footer"></footer>
</body>
</html>  