#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

body{
	height:100vh;
	display:flex;
	flex-direction : column;
}

p{
	margin: 0;
    padding: 0;

}

.box{
    width: 100%;
    text-align:center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Corben', Georgia, Times, serif;
}
p, div {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
}

#content {
	width:80%;
	margin-left:auto;
    margin-right:auto;
    margin-top: 50px;
}

.map{
overflow: hidden;
padding-bottom:30%;
position:relative;
height:0;
}
.iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}

.nav-item{
	font-size: 14px;
}

footer {
    margin-top:auto;
    height: auto;
    font-size: 12px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.cardetail{
	width:60%;
	margin-left:auto;
    margin-right:auto;
    margin-top: 50px;
}

.child{
	width: 15px;
  	height: 15px;
}

.child2{
	width:40%;
	width: 15px;
  	height: 15px;
}
