<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
	<link th:href="@{/css/style.css}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
	<script type="text/javascript" th:src="@{webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
	<div th:replace="fragment/general.html :: nav"></div>
	<img src="image/contact.jpg" class="img-fluid" alt="Responsive image">
	<div id="content">
		
		<h2>About Us</h2>
		<p>When we started in 2022, we set out to do things differently. We wanted to display all second-hand car options in one place, creating a simple alternative to the confusing sites that buying your next dream car feel like hard work. We're proud that we have more than 10,000 car listings, across four different car classiend sites (that's quite a few!) to help users with their car dealings.</p>
		<p>Dedicated to making buying and selling second-hand cars as simple as possible, we assist each and every one find the best options across sites, listings and brands for the perfect car.</p>
		<p>But we’re not stopping there.</p>
	</div>
	<div th:replace="fragment/footer.html :: footer"></div>
</body>
</html>