<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0">
	<link th:href="@{/css/style.css}" rel="stylesheet">

	<title>Change Password </title>
	
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
	
	<form th:action="@{/confirm}" method="POST" th:object="${user}" style="max-width: 350px; margin: 0 auto; margin-top: 150px">
		<div class="border border-secondary rounded p-3">
			<p>Change Password</p>
			<p>
				<input type="text" th:field="*{username}" name="username" class="form-control" placeholder="Username" required />
			</p>
			<p>
				<input type="password" th:field="*{password}" name="password" class="form-control" placeholder="Password" required />
			</p>
			<p>
				<input type="password" th:field="*{newPassword}" name="newPassword" class="form-control" placeholder="Re-enter Password" required />
			</p>
			<p>
				<input type="submit" value="Submit" class="btn btn-primary" />
			</p>			
		</div>
	</form>
	<footer th:replace="fragment/footer.html :: footer"></footer>
</body>
</html>