<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">	
	<link th:href="@{/css/style.css}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
	<script type="text/javascript" th:src="@{webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
	<div th:replace="fragment/general.html :: nav"></div>
  
	<img src="image/contact.jpg" class="img-fluid" alt="Responsive image">
			       
	<div id="content">
	<div class="container-fluid">
	<div class="row" style="height: 260px">
		<div class="col-xl-6">	
				<h1> </h1>
				<h2>Contact Us</h2>
				<p>Call: 65-55594255 <br> Email: sa54group7@gmail.com<br><br></p>
		</div>
		
				<div th:replace="fragment/map.html :: map"></div>
		
	</div>
	</div>
	</div>
	
	<div class ="footer" th:replace="fragment/footer.html :: footer"></div>	
</body>
</html>