<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">	
	<link th:href="@{/css/style.css}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
	<script type="text/javascript" th:src="@{webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
	<div th:replace="fragment/general.html :: nav"></div>
	
	<div th:replace="fragment/carousell.html :: carousell"></div>
	
	<form th:action="@{/search}" method="POST" style="max-width:350px; margin: 0 auto">
	<div class="border border-secondary rounded p-3">
			
		 <table>
	       		<tr style = "padding: 10px">
	                <td>Search Kuruma:</td>
	                <td><input type="text" placeholder="Start your Kuruma car search..." name="entry" th:value="${entry}"/></td>
	            </tr>
	            
	            <tr style = "padding: 10px">
	                <td colspan="2"><button>Search</button></td>
	            </tr>
	    </table>
    </form>
	</div>
	<footer th:replace="fragment/footer.html :: footer"></footer>
	
</body>
</html>