<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">	
	<link th:href="@{/css/style.css}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
	<script type="text/javascript" th:src="@{webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{webjars/bootstrap/js/bootstrap.min.js}"></script>
    <title>Kuruma Cars</title>
</head>
<body>
<div th:replace="fragment/general.html :: nav"></div>

<div class="container">
<div class-"row text-center">
<form th:action="@{/search}" method="POST">
		 <table class="table table-borderless">
	       		<tr style = "padding: 10px">
	                <td><label for="searchBox" class="form-label text-right">Search Kuruma </label></td>
	                <td><input type="text" class="form-control" placeholder="Filter by entry...." th:name="entry" th:value="${entry}"/></td>
	                <td><button class="btn btn-primary">Search</button></td>
	    </table>
 </form></div>
 
<div class="row text-center">
<div class="container-fluid">
<form th:action="@{/search/sort-}+${entry}">
<div class="btn-group-sm" role="group" aria-label="Sort by...">
	<span>Sort search by...</span>
	  <button class="btn btn-outline-primary" type="submit" th:name="by" th:value="Price">Price</button>
	  <button class="btn btn-outline-primary">Age</button>
	  <button class="btn btn-outline-primary">COE</button>
</div>
</form>

<table class="table table-hover p-5">
	<tr><th class="col"style="height:61px;width:100px">Brand</th>
		<th class="col-2"></th>
		<th class="col">Model</th>
		<th class="col">Listing Price</th>
		<th class="col">More Info</th>
		<th class="col">Add to wishlist</th></tr>
	<tr th:each="car:${searchlist}">
	<td th:text=${car.brand}>Brand</td>
	<td><img th:src="@{${car.imgLink}}" /></td>
	<td><a href="cardetail.html" th:href="@{/cardetail/}+${car.Id}" th:text=${car.model}/></td>
	<td th:text=${car.price}>Price</td>
	<td><a href="cardetail.html" th:href="@{/cardetail/}+${car.Id}" ><i class="bi bi-info-square"></i></a></td>
	<td th:if="${not #lists.contains(wishlist, car.Id)}">
        <a class="btn btn-outline-primary" th:href="@{/add/}+${car.Id}">
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
  		<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
		</svg>
		</a></td>
	
	<td th:if="${#lists.contains(wishlist, car.Id)}"><a class="btn btn-outline-secondary" th:href="@{/remove/}+${car.Id}">
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-circle-fill" viewBox="0 0 16 16">
  		<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z"/>
		</svg>
		</a></td>

	
	</tr></table></div></div>
	
	<div class="row text-center">
	<div class="container-fluid">
  		<nav aria-label="Page navigation">
  			<ul class="pagination">
    			<li class="page-item"><a class="page-link" th:href="@{/search/backward/}+${currentPage}">Previous</a></li>
    			<li class="page-item"><a class="page-link" th:text="${currentPage}"></a></li>
			    <li class="page-item"><a class="page-link" th:href="@{/search/forward/}+${currentPage}">Next</a></li>
			  </ul>
		</nav>
	</div></div></div>

<!-- Optional JavaScript for Bootscrap-->
    
</body>
</html>